@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext');

body {
	font-family: 'Abril Fatface', cursive;
}

.header {
	padding: 70px 15px 30px;
}

.header__title {
	font-family: 'Amatic SC', cursive;
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	height: 170px;
}

.header__title h1 {
	font-size: 86px;
	margin: 0;
	line-height: 130px;
	font-weight: bold;
}

.title {
	color: #030303;
	font-size: 40px;
	margin-bottom: 40px;
}

@media only screen and (max-width: 768px) {
	.header__title h1 {
		font-size: 60px;
	}
}

@media only screen and (max-width: 430px) {
	.header__title h1 {
		font-size: 40px;
	}
}

.title--about {
	background-image: url(../img/haeder-cotojest.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 130px;
}

.title--about p {
	margin-top: 50px;
}

.title--place {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 82px;
	margin-top: 50px;
	padding: 0;
}

.title--place p {
	background-image: url(../img/header-szafy.png);
	margin-bottom: 0;
	line-height: 82px;
	max-width: 218px;
	margin-left: auto;
}


.title--kontakt{
	background-image: url(../img/header-kontakt.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 163px;
	/*margin-top: 50px;*/
}

.title--kontakt p{
	margin-bottom: 0;
	line-height: 244px;
}



.title--wspolpraca{
	background-image: url(../img/header-wspolpraca.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 177px;
	/*margin-top: 50px;*/
}

.title--wspolpraca p{
	padding-right: 4px;
	margin-bottom: 0;
	line-height: 244px;
}


.title--pisza{
	background-image: url(../img/header-piszaonas.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 177px;
	/*margin-top: 50px;*/
}

.title--pisza p{
	padding-right: 4px;
	margin-bottom: 0;
	line-height: 179px;
}



.title--zero-waste {
	background-image: url(../img/header-wizja.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
	padding: 150px 15px 28px;
}

.title--zero-waste p {
	margin: 0 15px 0 auto;
	line-height: 1;
	max-width: 496px;
}

@media only screen and (max-width: 430px) {
	.title--zero-waste {
		padding-top: 100px;
	}

	.title--zero-waste p {
		font-size: 35px;
	}
}

.container {
	max-width: 780px;
}

.social {
	max-width: 255px;
}

.social img {
	max-width: 56px;
	margin: 0 0 15px 15px;
}

.help {
	transform: rotate(-20deg);
	background-image: url(../img/okragly-kartonik.png);
	max-width: 243px;
	height: 243px;
	background-repeat: no-repeat;
	background-size: contain;
	margin-top: 35px;
}

.help p {
	font-size: 22px;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	max-width: 200px;
	margin: 67px auto;
}

.menu {
	background-image: url(../img/menu-szafy.png);
	height: 93px;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	list-style: none;
	padding-left: 70px;
	padding-right: 25px;
	display: flex;
	justify-content: space-between;
}

.menu li {
	display: inline-block;
	padding-top: 15px;
	font-size: 18px;
}