@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext');

body {
	font-family: 'Abril Fatface', cursive;
}

.header {
	padding: 70px 15px 30px;
}

.header__title {
	font-family: 'Amatic SC', cursive;
	font-size: 86px;
}

.title {
	color: #030303;
	font-size: 40px;
}

.container {
	max-width: 780px;
}