@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&subset=latin-ext');

body {
	font-family: 'Abril Fatface', cursive;
}

.header {
	padding: 70px 15px 30px;
}

.header__title {
	font-family: 'Amatic SC', cursive;
	font-size: 86px;
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	height: 170px;
	font-weight: bold;
}

.title {
	color: #030303;
	font-size: 40px;
	margin-bottom: 40px;
}

.title--about {
	background-image: url(../img/haeder-cotojest.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	height: 130px;
}

.title--about p {
	line-height: 170px;
}

.container {
	max-width: 780px;
}

.social {
	max-width: 255px;
}

.social img {
	max-width: 56px;
	margin: 0 0 15px 15px;
}